<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to express js</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>SUBJECT</td>
        </tr>

        <%studets.map((e,i)=> {%>
            <tr>
                <td><%=e.id%></td>
                <td><%=e.name%></td>
                <td><%=e.subject%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>